repos:
  - repo: https://github.com/pycqa/isort
    rev: 5.9.3
    hooks:
      - id: isort
        name: isort (python)
        args: [ "--profile", "black", "-l 79" ]

  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        args: [ --safe, --quiet, -l 79 ]
        language_version: python3

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: fix-byte-order-marker
      - id: no-commit-to-branch
        args: [--branch, master]
      - id: requirements-txt-fixer

  -   repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0
      hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: python-use-type-annotations

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [ python ]
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*|resources_rc.py"

  # flake8
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: flake8
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*|resources_rc.py"
        args: # arguments to configure flake8
          - "--max-line-length=79"
          - "--max-complexity=18"
          # E722 (bare except) is handled by pylint
          # W503 (line break before binary operator) that's what black does.
          - "--ignore=E722,W503"
        types: [ python ]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        args: [ "--warn-redundant-casts", "--warn-unused-ignores", "--namespace-packages", "--explicit-package-bases", "--config-file", "dev_config/mypy.ini" ]
        exclude: ".*venv/.*|.*generated_models/.*|.*tsl/gen/.*"

# Should be activated once there is time to check setup.py:
#  - repo: https://github.com/regebro/pyroma
#    rev: "3.2"
#    hooks:
#      - id: pyroma

# Should be activated once there is time to find unused code:
#  - repo: https://github.com/PyCQA/bandit
#    rev: '1.7.0'
#    hooks:
#      - id: bandit
