black==22.3.0
coverage==6.4.2
isort==5.10.1
mypy==0.960
pre-commit==2.20.0
pydocstyle==6.1.1
pylint==2.14.4
pylint-sqlalchemy==0.2.0
PyQt5-stubs==5.15.6.0
pytest==6.2.5
pytest-cov==3.0.0
pytest-github-actions-annotate-failures==0.1.7
pytest-qt==4.1.0
requests==2.28.1
setuptools==63.2.0
types-requests==2.28.1
