[tool.poetry]
name = "qute_style"
version = "0.1.4"
description = "QuteStyle is an expandable application framework for PyQt5"
authors = ["Marina Baumgartner, Dairen Gonschior, Tilman Krummeck, Dennis Spitzhorn, Gerhard Trapp, Patrick Zwerschke <PS-TF-Entwicklung@tuev-sued.de>"]
readme = "README.md"
repository = "https://github.com/TUV-SUD-Product-Service-GmbH/QuteStyle"
license = "MIT"
packages = [
    {include = "qute_style"},
    {include = "qute_style_examples"},
]

[tool.poetry.dependencies]
python = "^3.8"
PyQt5 = "5.15.6"
pyqtspinner = "^2.0.0"

[tool.poetry.dev-dependencies]
pytest = "6.2.5"
pytest-qt = "4.0.2"
requests = "2.26.0"
black = "22.3.0"
coverage = "6.2"
isort = "5.10.1"
mypy = "0.920"
pre-commit = "2.16.0"
pydocstyle = "6.1.1"
pylint = "2.12.2"
pylint-sqlalchemy = "0.2.0"
pytest-cov = "^3.0.0"
pytest-github-actions-annotate-failures = "^0.1.7"
types-requests = "2.26.2"
pyqt5-stubs = "5.15.6.0"


[tool.poetry.scripts]
qute-style-example = "qute_style_examples.main:main_method"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
